body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  text-align: center;
}

.mdc-typography--headline1 {
  font-size: 5rem;
}

main {
  max-width: 1200px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  text-align: center;
}

.mdc-typography--headline1 {
  font-size: 5rem;
}

main {
  max-width: 1200px;
}

footer {
  margin-top: 1rem;
}

footer a {
  margin: .5rem;
}

footer a:not(:hover) {
  color: grey;
}

canvas {
  border: 1px solid grey;
  margin: 1rem auto;
}

footer {
  margin-top: 1rem;
}

footer a {
  margin: .5rem;
}

footer a:not(:hover) {
  color: grey;
}

canvas {
  border: 1px solid grey;
  margin: 1rem auto;
}

.redText
{
  color:red;
}


button{
  background-color: #6200ee;
  color:white;
  height:10%;
  
}


